@tailwind base;
@tailwind utilities;
@tailwind components;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
  outline: none;
}

// ----------- Container -------------- //
.wrapper{
  @apply max-w-7xl mx-auto px-4 xl:px-0;
}

// ---------- sizing ---------- //
h1,
.heading{
  @apply text-4xl text-gray m-0 leading-none;
}

h2,
.subheading{
  @apply text-base text-gray m-0 leading-none;
}

// ----------- Buttons ----------- //
.btn{
  @apply px-8 py-2 rounded-md;
}
.btn-primary{
  @extend .btn;
  @apply bg-primary/80 hover:bg-primary/90 text-white;
}
.btn-secondary{
  @extend .btn;
  @apply bg-secondary/80 hover:bg-secondary/90 text-white;
}

.rounded-lg-img img{
    border-radius: 0.5rem;
}
.rounded-full-img img{
    border-radius: 9999px;
}
.rounded-l-lg-img img{
    border-top-left-radius: 0.5rem; 
    border-bottom-left-radius: 0.5rem,; 
}

.bg-primary-gradient{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


}